<main class="main">
  <div class="content">
    <h2>To-Do List</h2>
    <div class="row">
      <input
        id="todo-input"
        type="text"
        placeholder="Buy milk"
        [(ngModel)]="todoInput"
        (keydown.enter)="submit()"
      />
      <button (click)="submit()">Add</button>
    </div>
    <ul class="todo-list">
      @for (todo of todoList; track $index) {
      <li
        [class]="todo.checked ? 'checked' : ''"
        (click)="onClickTodoItem(todo)"
      >
        {{ todo.value }}
        <span [innerText]="'\u00d7'" (click)="onDeleteTodoItem($index)"></span>
      </li>
      }
    </ul>
  </div>
</main>

<router-outlet />
